fastapi
uvicorn[standard]
ib_insync
pydantic-settings
tzdata
opentelemetry-sdk>=1.24
opentelemetry-exporter-otlp>=1.24
opentelemetry-exporter-otlp-proto-grpc>=1.24
opentelemetry-instrumentation-fastapi>=0.45b0
opentelemetry-instrumentation-logging>=0.45b0
opentelemetry-instrumentation-system-metrics>=0.45b0
opentelemetry-semantic-conventions>=0.45b0
